{% extends "base.html" %}
{% block title %}Admin • Drużyny{% endblock %}
{% block content %}
<h1>Admin • Drużyny</h1>
<a class="pill" href="{% url 'admin_teams_new' %}">+ Dodaj drużynę</a>
<div class="card">
  <table>
    <thead><tr><th>ID</th><th>Nazwa</th><th>Trener</th><th>Stadion</th><th class="actions-col">Akcje</th></tr></thead>
    <tbody>
    {% for t in items %}
      <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.coach|default:"-" }}</td>
        <td>{{ t.stadium|default:"-" }}</td>
        <td class="actions-cell">
          <a class="btn-action btn-edit" href="{% url 'admin_teams_edit' t.id %}">Edytuj</a>
          <a class="btn-action btn-delete" href="{% url 'admin_teams_delete' t.id %}">Usuń</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
