# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
*.log
local_settings.py

# Static/media outputs
staticfiles/
media/

# Migrations cache / tooling
.pytest_cache/
.coverage
htmlcov/

# IDE/editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env secrets
.env
.env.*
